#main{
    width: 100%;
    display: table;
    overflow: hidden;
    margin: -32px -9.5px auto;
    float: left;
    padding: 4px 4px 20px 8px;
}
#left-content, 
#main-content, 
#right-content1,
#right-content2{
    display: table-cell;
    padding: 20px 20px 20px 20px;
}
.headtxt {
    margin: -500px 16px;
    padding: 0px 0px;
    font-size: 107px;
    float: left;
    height: -500em;
}
.headtxt2 {
    margin: -70px 10px auto;
    padding: 0px;
    float: left;
}
.headtxt7 {
    width: 1153px; 
    margin: -340px -385px auto;
    height: 0rem;
    padding: 0px;
    float: left;
}
.headtext4 {
    margin: -117px 134px auto;
    float: left;
    padding: 0px 0px 0px 0px;
}
.headtxt3 {
    margin: -120px 135px auto;
    padding: 0px;
    float: left;

}
.headtxt6 {
    margin: -120px 135px auto;
    padding: 0px;
    float: left;
}
#nature {
    margin: -120px 130px auto;
    padding: -40px;
    float: left;

}
.nature {
    margin: -120px -20px auto;
    padding: -20px;
    float: left;

}
#header1{
    margin: -315px 15px auto;
    padding: -10px;
    float: left;
}

#banner{
    background: url("index_1.jpg")no-repeat;
    width: 98%;
    height: 550px;
    padding-left: 400px;
    background-size: cover;
    position: relative;
    float: center;
    margin: 0px 0px auto;
    float: left;
    padding: 100px 0px 0px 0px;
    position: relative;
    border: 4px solid rgb(0, 0, 0);
}
    
.logo{
    width: 0px;
    height: auto;
}
.imgbat{
    width: 300px;
    height: auto;
    float: right;
}
#left-content{
    width: 40%;
    float: left;
    margin-top: -1.3%;
    margin-bottom: -1980px;
    padding-bottom: 1945.2px;
    background-image: linear-gradient(
    50deg,
    white,
    rgb(0, 0, 0));
}
#main-content{
    width: 53%;
    margin-top: -3px;
    margin-bottom: -1980px;
    background: rgb(255, 162, 41);
    color: black;
    float: left;
    margin-bottom: 0px;
    padding-bottom: -80px;
}
#right-content1{
    width: 100%;
    background: rgb(0, 0, 0);
    color: white;
    float: right;
    margin-bottom: auto;
    padding-bottom: 2000px;
}
#bottom-content{
    width: 30%;
    background: rgb(35, 110, 223);
    color: white;
    float: right;
    margin-bottom: -2000px;
    padding-bottom: 2000px;
}
#left-content ul{
    list-style: none;
    padding: 0px;
}
#left-content li a:link, 
#left-content li a:visited{
    font-size: 12pt;
    font-weight: bold;
    color: #552D81;
    padding: 3px 0px 3px 3px;
    text-decoration: none;
    display: block;
}
#left-content li a:hover, 
#left-content li a:active{
    font-size: 12pt;
    font-weight: bold;
    color: #000000;
    padding: 3px 0px 3px 3px;
    text-decoration: none;
    display: block;
}
nav ul li{
    list-style: none;
    text-align: center;
    display: inline-block;
    margin: 10px;
}
nav ul li a:link, nav ul li a:visited{
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(230, 219, 219);
    float: left;
    margin: -80px 10px auto;
    padding: 5px 10px;
}
nav ul li a:hover, nav ul li a:active{
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 20px;
    background-color: rgb(105, 105, 105);
    color: rgb(255, 162, 41);
    float: left;
    margin: -80px 10px auto;
    padding: 5px 10px;
}
@media screen and (min-width: 768px) {
    #navigation {
    position: relative;
    top: 350px;
    }
    .eight, .four {
        padding-top: 140px
    }
}
h1 {
    float: left;
    margin:0px;
    padding:-20px;
}
#header3{
    margin: 0px auto;
    width: 95.2%;;
    height: 20px;
    padding: -20px;
    float: left;
    background-image: linear-gradient(
    50deg,
    white,
    #000000);
}
#header4{
    width: 95.2%;
    display: table;
    overflow: hidden;
    margin-top: 0%;
    background-image: linear-gradient(
    50deg,
    white,
    #000000);
}
header{
    width: 95.2%;
    background-color: rgb(35, 110, 223);
    text-align: center;
    font-style: italic;
    padding: 140px 25px 10px 25px;
    background-image: linear-gradient(
    50deg,
    rgb(146, 146, 146),
    rgb(255, 162, 41));
    }
#footer1{
    width: 1124.6px;
    overflow: hidden;
    display: inline-table;
    color: black;
    text-align: center;
    font-style: italic;
    margin: 5px 0px auto;
    padding: 10px 317px 10px 25px;
    background-image: linear-gradient(
        50deg,
    white,
    #000000);
    }
#footer2{
    overflow: hidden;
    display: inline-table;
    width: 94.4%;
    background-color: rgb(35, 110, 223);
    color: whitesmoke;
    text-align: center;
    padding:30px;
    background-image: linear-gradient(
    50deg,
    rgb(146, 146, 146),
    rgb(255, 162, 41));
}

#main{
    width: 100%;
    display: table;
    overflow: hidden;
    margin: 10px -5px auto;
    float: right;
    padding: 4px 4px 0px 8px;
}

#wrap {
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 0px;
    float: right;
    
  }
  
  .ad-wrapper {
    height: 0;
    overflow: hidden;
    transition: height 0.66s ease-out;
  }
  .ad-wrapper.loaded {
    height: 20px;
  }